body, * {
	font-family: "Roboto";
}
.container {
	max-width: 600px;
	margin: 0 auto;
}
#inner{
	width: 50%;
	margin: 0 auto;
}
.form-title {	
  	height: 20px;	
  	width: 138px;	
  	color: #1A2434;	
  	font-family: Roboto;	
  	font-size: 24px;	
  	font-weight: bold;	
  	line-height: 20px;
  	margin-top: 96px;
}

.discount-info {
	height: 130px;
	width: 280px;
	color: #1A2434;
	font-family: "Roboto Light";
	font-size: 16px;
	line-height: 20px;
	margin-top: 48px;
}

.price-table {
	height: 200px; /* change */
	width: 280px;
}

.price-per-attendee {
	height: 20px;
	width: 133px;
	color: #000000;
	font-family: Roboto;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
}

.number {
	height: 20px;
	color: #000000;
	font-family: "Roboto Light";
	font-size: 16px;
	line-height: 20px;
}

.price {
	height: 23px;
	color: #000000;
	font-family: "Roboto Light";
	font-size: 16px;
	line-height: 20px;
	text-align: right;
}

.line {	
	height: 1px;	
	width: 280px;	
	background-color: #D1D1D1;
}

.form {	
	height: 985px;	
	width: 280px;
}

label {
	height: 23.35px;
	width: 280px;
	color: #1A2434;
	font-family: "Roboto Condensed";
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.71px;
	line-height: 20px;
}

input {	
	height: 23.72px;	
	width: 280px;	
	color: #1A2434;	
	font-family: "Roboto Light";	
	font-size: 18px;	
	line-height: 20px;
}

.form-control {
    border: 0;
}

#date-full {
	color: #FF0037 ;
	padding-top: 5px;
}

.wpv-filter-form .form-control {
    border-radius: 0;
    box-shadow: none;
   -webkit-box-shadow: none;
}

.do-you-need-wheelcha {	
	height: 23px;	
	width: 90%;	
	color: #000000;	
	font-family: "Roboto Light";	
	font-size: 16px;	
	line-height: 20px;
	padding-top: 7px;
}
.checkbox{
	width: 10%;

}

#attendees {
	height: 23px;
	color: #000000;
	font-family: "Roboto Light";
	font-size: 16px;
	line-height: 20px;
}

#attendees-count {
	height: 23px;
	color: #000000;
	font-family: "Roboto Light";
	font-size: 16px;
	line-height: 20px;
	text-align: right;
}

#final-price{
	height: 20px;
	color: #1A2434;
	font-family: Roboto;
	font-size: 24px;
	font-weight: bold;
	line-height: 20px;
	text-align: right;
	margin-top: 29px;
}

.btn{
	height: 40px;
	width: 280px;
	color: #FFFFFF;
	font-family: "Roboto Condensed";
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 25px;
	text-align: center;
	margin: 39px 0 100px 0;
	background-color: #FF0037;

}
